textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  min-width: 80%;
  height: 150px;
  border: 4px solid lightgray;
  padding: 10px;
  font-size: 13px;
}

.portfolio-main {
  margin: auto;
  min-width: 80%;
  background-color: white;
}

.quotes-area {
  min-height: 200px;
  max-height: 220px;
  width: 80%;
  margin: auto;
  margin-top: 32px;
}

.entry-area {
  background-color: rgb(32, 32, 32);
  margin: auto;
  width: 90%;
  border-radius: 7px;
  padding-bottom: 62px;
  max-height: 248px;
}

.big-Q {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  position: absolute;
  font-size: 343px;
  opacity: 0.05;
  top: -27px;
  left: 19px;
  pointer-events: none;
}

.entry-error {
  min-height: 22px;
  position: relative;
  bottom: 4px;
}

.entry_form {
  position: relative;
  top: 20px;
}

#title {
  margin-bottom: 20px;
  font-size: 17px;
}

.save_button {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 7px;
  margin: 15px auto;
  min-width: 120px;
}

.logout {
  color: white;
}

.quotebox {
  text-align: left;
}

.sidebar-signup-info {
  text-align: center;
  color: white;
  margin: auto;
  width: 230px;
}

.sidebar-signup-info p {
  border: 1px solid white;
  margin-bottom: 205px;
  margin-top: 70px;
  padding: 20px;
  font-weight: 600;
}

.sidebar-signup-info a {
  color: rgb(46, 46, 46);
  min-width: 182px;
  border-radius: 7px;
  font-size: 16px;
  background-color: white;
  font-weight: 600;
}

.sidebar {
    background-color: rgb(209, 84, 53);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s;
}

.sidebar h2 {
    padding: 60px;
    padding-bottom: 40px;
    background-color: rgb(32, 32, 32);
    color: white;
    margin: 0;
    position: relative;
    top: 0px;
}

.sidebar ul {
  position: relative;
  top: 20px;
  max-height: 540px;
}

.sidebar li {
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 3px;
}

.sidebar li h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout {
  position: relative;
  top: 300px;
  font-size: 20px;
}

.portfolio {
    background-color: white;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .sidebar {
  opacity: 0;
  pointer-events: none;
}

input:checked ~ .portfolio { 
    left: 0;
}

input:checked ~ label {
    left: 14px;
}

.main-wrap label {
    border-radius: 50%;
    font-size: 24px;
    padding-bottom: 3px;
    z-index: 2;
    position: absolute;
    top: 12px;
    left: 14px;
    background-color: rgb(190, 190, 190);
    color: rgb(32, 32, 32);
    width: 36px;
    
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
}