@media only screen and (min-width: 600px) {
  #portfolio-main {
    margin: auto 20%;
    min-width: 575px;
  }
  #entry-area {
    min-width: 575px;
  }
  #big-Q {
    top: -16px;
    left: 148px;
  }
  textarea {
    font-size: 16px;
  }
  .sidebar {
    min-height: 632px;
  }
}