@media only screen and (min-width: 600px) {
  nav {
    height: 60px;
  }
  .qnav h1 {
    padding-top: 10px;
    cursor: pointer;
  }
  .portfolio {
    background-color: white;
  }
  .portfolio-main {
    position: relative;
    top: 27px;
    margin: auto;
    width: 600px;
    min-width: 0%;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19)
  }
  .quotes-area {
    width: 500px;
    min-height: 240px;
    margin: 0;
    margin-top: 0;
    display: inline-block;
  }
  .entry-area {
    width: 600px;
    margin: 0;
    display: inline-block;
  }
  .big-Q {
    top: -79px;
    left: 21px;
  }
  textarea {
    font-size: 16px;
  }
  .sidebar {
    min-height: 632px;
    min-width: 300px;
    max-width: 330px;
  }
  .logout {
    border-radius: 7px;
    font-size: 16px;
    min-width: 120px;
    position: relative;
    left: 6px;
  }
}