body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  color: rgb(32, 32, 32);
  background-color: white;
  overflow: auto;
}

html, body {
  height: 97%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: rgb(32, 32, 32);
}

h1 {
  font-family: 'Poiret One', cursive;
  color: rgb(190, 190, 190);
  font-size: 1.6em;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

a, u {
    text-decoration: none;
    color: rgb(109, 109, 109);
    margin: 5px;
    display: block;
    padding: 2px;
}

ul {
  padding: 0;
}

.error {
  color: red;
}

.pointer {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  body {
    margin: 0 20%;
  }
}
