body {
  margin: 5%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  background-color: rgb(32, 32, 32);
  color: rgb(190, 190, 190);
  border: 2px solid rgb(190, 190, 190);
  overflow: auto;
}

html, body {
  height: 97%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Gravitas One', cursive;
  color: rgb(190, 190, 190);
  font-size: 2.2em;
}

a, u {
    text-decoration: none;
    color: rgb(190, 190, 190);
    margin: 5px;
}

nav {
  width: 100%;
  text-align: left;
}
